<!DOCTYPE html>
<html>
	<head>
		<title>Decarcerating Libraries</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">home</a></li>
	        	<li><a href="/about">about</a></li>
        		<li><a href="/events">events</a></li>
        		<li><a href="/resources">resources</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>the Decarcerating Libraries working group</h1>
				<p>is made possible by the UCLA Luskin Institute on Inequality and Democracy</p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:meganelizabethriley@gmail.com">email</a></li>
        		<li><a href="https://github.com/mrileymlis">github.com/mrileymlis</a></li>
			</ul>
		</footer>
	</body>
</html>
